# Next.js build and static export
.next/
out/
*.tsbuildinfo

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.local
.env.*.local

# test output
coverage/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
